.container {
  background-image: conic-gradient(rgb(21, 27, 58),black,rgb(21, 27, 58), black, rgb(21, 27, 58), black, rgb(21, 27, 58));
  height: 100vh;
  width: 100%;
}

.smallContainer {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.wrapper {
  height: 30px;
  width: 100%;
  height: 350px;
  width: 900px;
  background-color:  rgb(66, 72, 93);
  position: relative;
  top: 19%;
  left: 0;
  display: flex;
  justify-content: center;
  z-index: 0;
}

.lid {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-right: 450px solid transparent;
  border-bottom: 150px solid transparent;
  border-left: 450px solid transparent;
  transform-origin: top;
  transition: transform 1s linear;
}

/* Lid when closed */
.lid.closed {
  border-top: 250px solid#3760C9;
  border-top: 250px solid  rgb(21, 27, 58);
  /* transform: rotateX(0deg); */
  transition: transform 5s linear;
  z-index: 4;
}

.lid.opened{
  border-top: 250px solid#3760C9;
  border-top: 250px solid #b7c9f6;
  border-top: 250px solid  rgb(21, 27, 58);
  transform: rotateX(180deg);
  transition: transform 2s linear;
  z-index: 2;
}

.envelope {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-top: 100px solid transparent;
  border-right: 150px solid #c4dff0;
  border-bottom: 100px solid #c4dff0;
  border-left: 150px solid #a4d4f2;
  border-top: 250px solid transparent;
  border-right: 450px solid  rgb(57, 65, 93);
  border-bottom: 200px solid rgb(57, 65, 93);
  border-left: 450px solid rgb(66, 72, 93);
  z-index: 4;
}

.letter {
  color: white;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
}

.letter p {
  text-align: center;
  margin-top: 3x;
  color: #3b4049;
}

.letter input{
  margin-bottom: 1em;
  width: 400px;
}

.letter textarea{
    width: 400px;
    max-height: 15rem;
    padding: 1rem 0 5rem 1rem;
}

.smallContainer h2 {
  margin-bottom: 2em;
  color: white;
  position: relative;
  top: 10%;
}

.out {
  transform: translateY(-100px);
  height: 100%;
  z-index: 3;
}

