.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 100%;
    background-color: rgb(21, 27, 58);
    border-radius: 15px;
    z-index: 3;
    transition: transform 0.5s linear;
    }

    .out {
        transform: translateY(-100px);
        height: 100%;
        z-index: 3;
      }