.cardContainer {
    background-color: white;
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    margin-top: 5rem;
}

.card:before,
.card:after {
    content: " ";
    height: 100%;
    position: absolute;
    top: 0;
    width: 10%;
}

.card:before {
    box-shadow: -20px 0 15px -15px inset rgb(80, 79, 79);
    left: -30px;
}

.card:after {
    box-shadow: 15px 0 20px -10px inset rgb(80, 79, 79);
    right: -30px;
}

.card {
    background: #EEEEEE;
    height: 100px;
    margin: 0 50px;
    height: 50%;
    width: 50%;
    position: relative;
}

.contentContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ThanksTitle {
    color: rgb(171, 3, 3);
    font-size: 3rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1.5rem;
    width: 90%;
}


@media only screen and (max-width:1500px) {
    .card:before {
        box-shadow: -20px 0 15px -15px inset rgb(80, 79, 79);
        left: -15px;
    }
    
    .card:after {
        box-shadow: 15px 0 20px -10px inset rgb(80, 79, 79);
        right: -15px;
    }
}
@media only screen and (max-width:800px) {

    .card {
        background: #EEEEEE;
        height: 100px;
        margin: 0 50px;
        height: 70%;
        width: 100%;
        position: relative;
    }

    .headTitle {
        font-size: 2rem;
    }
}


@media only screen and (max-width:500px) {
    .ThanksTitle {
        color: rgb(171, 3, 3);
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    .contentContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
    }
    .card {
        width: 70%;
    }
    
    p {
        font-size: 1rem;
        width: 80%;
        text-align: center;
    }

    .card:before {
        box-shadow: -20px 0 15px -15px inset rgb(80, 79, 79);
        left: 1px;
    }

    .card:after {
        box-shadow: 15px 0 20px -10px inset rgb(80, 79, 79);
        right: 1px;
    }
}