.firstProject,
.secondProject {
    background-color: aliceblue;
    height: 20%;
    border-radius: 10px;
    text-align: center;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectCardsContainer {
    display: grid;
    grid-template-columns: repeat(2, 35rem);
    column-gap: 25px;
    justify-content: center;
    width: 80%;
}

h3 {
    font-size: 1.6em;
    padding: 0.3rem;
}

.projecLinkContainer {
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
}

p {
    font-weight: bold;
    width: auto
}

a {
    text-decoration: none;
    color: gray;

}

a:hover {
    color: rgb(183, 7, 7);
}



/*Media queries*/
@media only screen and (max-width: 1460px) {
    .miniContainer {
        height: auto
    }

    .projectCardsContainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

    }

    .firstProject,
    .secondProject {
        height: auto;
        padding: 1rem 0 1rem 0;
        margin-bottom: 1rem;
        width: 70%;

    }
}
