.container {
    background-color: black;
    height: 85vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    position: relative;
}

.miniContainer {
    height: 75vh;
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center
}
