.container {
  color: white;
  height: 100%;
}

.cardContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0 2rem 0 rem;
  position: relative;
  animation: fadeOut ease 5s;
  -webkit-animation: fadeOut ease 5s;
  -moz-animation: fadeOut ease 5s;
  -o-animation: fadeOut ease 5s;
  -ms-animation: fadeOut ease 5s;
}

.card {
   text-align: center;
   margin: 0 auto;
   color: black;
  background-color: rgb(255, 255, 255, 0.7);
  width: 30%;
  height: 70vh;
  position: absolute;
  border-radius: 10px;
}

.cardOne {
  top: 50px;
  left: 10px;
  animation: cardOneMove 1s ease-out;
}

.cardTwo {
  top: 50px;
  right: 10px;
  animation: cardTwoMove 1s ease-out;
}

@keyframes cardOneMove {
  0% {
    left: 20%;
    top: 23%;
  }
  100% {
    top: 50px;
    left: 10px;
  }
}

@keyframes cardTwoMove {
  0% {
    right: 20%;
    top: 23%;
  }
  100% {
    top: 50px;
    right: 10px;
  }
}


@keyframes fadeOut {
   100% {
     opacity: 1;
   }
   0% {
     opacity: 0;
   }
 }
 
 @-moz-keyframes fadeOut {
   100% {
     opacity: 1;
   }
   0% {
     opacity: 0;
   }
 }
 
 @-webkit-keyframes fadeOut {
   100% {
     opacity: 1;
   }
   0% {
     opacity: 0;
   }
 }


/*  
@media only screen and (max-width: 1500px) {
  .cardContainer {
    position: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .card {
    position: relative;
    width: 30%;

    height: 1000px;
  }

}   */