.container{
background-color: aqua;
height: 100vh;

}

.contentContainer{
  background-color: green;
  height: 50%;
}



/* .thumb {
  width: 140px;
  background: #eee;
}

.anim {
  transition: 0.5s;
  transform: translateY(100%);
}

.title {
  color: red;
  transition: 0.5s;
  transform: translateY(-100%);
}

.author {
  color: blue;
}

.thumb:hover .anim,
.thumb:hover .title {
  transform: translateY(0);
} */